/* * {
  width: 100%;
  margin: auto;
} */
body {
  background-color: lightgreen;
  margin: 0;
}
header {
  text-align: center;
  background: yellowgreen;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 30px 0px 30px 0px;
  width: 100%;
}
.article:first-child:hover {
  background-color: rgb(63, 228, 151);
  color: aliceblue;
}
.row-1 {
  display: flex;
  flex-direction: row;
}
.row-2 {
  display: flex;
  flex-direction: row;
}
button:hover {
  background: rgb(213, 224, 53);
  color: orangered;
}
h1:first-child {
  color: rgb(98, 15, 109);
  font-weight: 50px;
  font-style: italic;
  padding: 10px;
  width: 200px;
  margin: auto;
  background-color: rgb(223, 96, 240);
  border-radius: 20px 20px 20px 20px;
  text-shadow: black 10px;
}
.main-container {
  text-align: center;

  margin-bottom: 3%;
}
/* .fontp {
  width: 30%;
  margin-left: 500px;
} */

a:hover {
  direction: none;
}

footer {
  height: 100px;
  background-color: rgb(98, 15, 109);
  text-align: center;
  padding-top: 2%;
}
.article {
  width: 300px;
  margin: auto;
}
.article img {
  width: 300px;
}
